version: '3.8'

services:
    postgres_db:
        image: postgres:15-alpine
        container_name: postgres_db
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-user}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
            POSTGRES_DB: ${POSTGRES_DB:-caspian_db}
        healthcheck:
            test: ['CMD', 'pg_isready', '-U', 'user']
            interval: 5s
            timeout: 5s
            retries: 10
        volumes:
            - pg_data:/var/lib/postgresql/data

    airflow_scheduler:
        image: apache/airflow:2.9.3-python3.12
        container_name: airflow_scheduler
        depends_on:
            postgres_db:
                condition: service_healthy
        environment:
            AIRFLOW__CORE__EXECUTOR: LocalExecutor
            AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@postgres_db:5432/${POSTGRES_DB:-caspian_db}
            AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
        volumes:
            - ./airflow/dags:/opt/airflow/dags
            - ./solutions:/opt/airflow/solutions
            - ./data_assets:/data_assets
            - ./processed_data:/opt/airflow/processed_data
        command: scheduler

    airflow_webserver:
        image: apache/airflow:2.9.3-python3.12
        container_name: airflow_webserver
        depends_on:
            postgres_db:
                condition: service_healthy
        environment:
            AIRFLOW__CORE__EXECUTOR: LocalExecutor
            AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@postgres_db:5432/${POSTGRES_DB:-caspian_db}
            AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
            AIRFLOW__WEBSERVER__EXPOSE_CONFIG: 'true'
        ports:
            - '8080:8080'
        volumes:
            - ./airflow/dags:/opt/airflow/dags
            - ./solutions:/opt/airflow/solutions
            - ./data_assets:/data_assets
            - ./processed_data:/opt/airflow/processed_data
            - ./db_utils.py:/opt/airflow/db_utils.py
        command: webserver

volumes:
    pg_data:
